.feature-main {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    margin: 2rem 0;

    height: 100%;

    width: 100%;
}

.icon-box{
    width: 70%;
    text-align: center;
}

.feature-textbox {
    text-align: left;
    width: 100%;
}

.feature-title {
    font-size: 3.2rem;
}

.feature-text {
    font-size: 2.1rem;
}

@media only screen and (max-width: 374px) {
    
    .icon-box{
        width: 50%;
        text-align: center;
    }
        
    .feature-title {
        font-size: 2.8rem;
    }
    
    .feature-text {
        font-size: 2rem;
    }
}

@media only screen and (max-height: 755px) {
    .icon-box{
        width: 50%;
        text-align: center;
    }
        
    .feature-title {
        font-size: 2.8rem;
    }
    
    .feature-text {
        font-size: 2rem;
    }
}


@media only screen and (min-width: 768px) {
    .feature-title {
        font-size: 4rem;
    }
    
    .feature-text {
        font-size: 2.8rem;
        width: 80%;
    }

    .icon-box{
        width: 85%;
        text-align: center;
    }

}

@media only screen and (min-width: 1023px) {
    .feature-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        height: 50%;
        width: 50%;
    }

    .icon-box{
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
    }

    .feature-textbox {
        text-align: center;
        width: 100%;
        height: 100%;

    }


    .feature-title {
        font-size: 4rem;
        text-align: center;
    }
    
    .feature-text {
        font-size: 3rem;
        width: 100%;
        padding: 0 6rem;
    }

    
}
